@media (max-width: 767px) {
    .header {
        padding: 0 25px 0 25px;
        &__offical {
            display: none;
        }
        &__contacts {
            .button {
                width: 170px;
            }
        }

    }
    
    .promo {
        &__wrapper {
            padding-right: 25px;
        }
    }
    
    .priority {
        &__title {
            font-size: 13px;
        }
        &__subtitle {
            font-size: 16px;
        }
    }

    .catalog {
        li {
            width: 170px;
            div {
                font-size: 17px;
            }
        }
    }
    
    
        


} 
@media (max-width: 575px) {

    .header {
        padding: 0;
        flex-direction: column;
        &__offical {
            margin-top: 20px;
            display: block;
            justify-content: flex-end;
            span {
                font-size: 15px;
            }
        }
        &__contacts {
            margin-top: 20px;
        }
        
    }
    .promo {
        .promo__wrapper {
            align-items: center;
            padding-right: 0;
            .promo__header {
                font-size: 23px;
                text-align: center;
            }
            .promo__subheader {
                text-align: center;
            }
            .promo__icons {
                width: 315px; 
                justify-content: center;
            }
        }
        
    }

    .priority {
        .priority__wrapper {
            flex-direction: column;
            align-items: center;
            .priority__descr {
                .priority__subtitle {
                    margin-bottom: 50px;
                }
            }
            
        }
    }
    .catalog {
        #c_content {
            justify-content: center;
        }
        li {
            width: 150px;
            div {
                font-size: 16px;
            }
        }
    }
    .review {
        .review__content {
            .review__wrapper {
                flex-direction: column;
                .review__picture {
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
            }
        }
    }

}

@media (max-width: 433px) {
    
    .catalog {
        li {
            width: 100px;
            div {
                font-size: 12px;
                line-height: 25px;
            }
        }
        &-item__link {
            transform: translateY(245px);
        }

    }
    .footer {
        #finfo {
            width: 335px;
            height: 160px;
            padding: 0px;
            padding-top: 10px;
        }
        .footer__addr {
            font-size: 15px;
        }
        #fnumber {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .footer__social {
            justify-content: flex-end;

        }
        .footer__social-item {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 320px) {

    .catalog {
        li {
            width: 78px;
            div {
                font-size: 10px;
                text-align: center;
            }
        }
        &-item__link {
            transform: translateY(310px);
        }
    }
    .footer {
        #finfo {
            width: 250px;
            height: 160px;
            padding: 0px;
            padding-top: 10px;
        }
    }

}

@media (max-width: 1200px) {
    section.carousel {
        padding: 81px 20px;

        .next, .prev {
            display: none;
        }
    

        img {
            width: 100%;
        }
    }
}
